<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css">
<nav class="navbar navbar-light bg-light" style="z-index: 2;">
    <h1 class="col-12 alert alert-warning" style="text-align: center;">ROOM IN BUILDING <%= @room.building.id%> AT <%= check_floor_number(@room.floor.num_of_floor) %> floor</h1>
</nav>
<div class="demo col-12">
    <ul id="lightSlider">
        
        <li data-thumb="https://assets.m-standard.co.jp/public/properties/00001723/thumb/w750h460/5TvxE5MSSCiSbvJajsRCIkX36Bcb8JN6q9PwATR1.jpeg">
            <img src="https://assets.m-standard.co.jp/public/properties/00001723/thumb/w750h460/5TvxE5MSSCiSbvJajsRCIkX36Bcb8JN6q9PwATR1.jpeg" />
        </li>
        <li data-thumb="https://assets.m-standard.co.jp/public/rooms/00226163/thumb/w750h460/room_226163_d81e38ace4dfb7256a9ee0661397d382.JPG">
            <img src="https://assets.m-standard.co.jp/public/rooms/00226163/thumb/w750h460/room_226163_d81e38ace4dfb7256a9ee0661397d382.JPG" />
        </li>
        <li data-thumb="https://assets.m-standard.co.jp/public/properties/00001836/article_1_1836_1376299575.jpg">
            <img src="https://assets.m-standard.co.jp/public/properties/00001836/article_1_1836_1376299575.jpg" />
        </li>
        <li data-thumb="https://assets.m-standard.co.jp/public/properties/00000060/article_1_60_1414316256.jpg">
            <img src="https://assets.m-standard.co.jp/public/properties/00000060/article_1_60_1414316256.jpg" />
        </li>
        <li data-thumb="https://assets.m-standard.co.jp/public/properties/00007683/article_1_7683_1527383188.jpg">
            <img src="https://assets.m-standard.co.jp/public/properties/00007683/article_1_7683_1527383188.jpg" />
        </li>        
        <li data-thumb="https://assets.m-standard.co.jp/public/rooms/00094653/thumb/w1350h630/room_1_22996.jpg">
            <img src="https://assets.m-standard.co.jp/public/rooms/00094653/thumb/w1350h630/room_1_22996.jpg" />
        </li>
        <li data-thumb="https://assets.m-standard.co.jp/public/rooms/00023109/thumb/w750h460/room_1_23106.jpg">
            <img src="https://assets.m-standard.co.jp/public/rooms/00023109/thumb/w750h460/room_1_23106.jpg" />
        </li>
        
    </ul>
</div>

<div class="jumbotron">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <table class="table table-hover">
        
        <tbody>
            <tr>
                
                <td class="table-danger">RENT</td>
                <td><strong style="color: red"><%= @room.rentail_fee %></strong> yen</td>
                <td class="table-danger">Manager fee</td>
                <td><strong><%= @room.manager_fee %> yen</td>
            </tr>
            <tr>
                <td class="table-info">Room Detail</td>
                <td  colspan="3">Living 19.00 tatami
                    room 7.10 tatami</td>
                
            </tr>
            <tr>
                <td class="table-light">Location</td>
                <td colspan="3"><%=@room.building.location %></td>
                
            </tr>
            <tr>
                <td class="table-light">Occupied area	</td>
                <td class="table-light"><%= @room.size.round(2) %> m2</td>
                <td class="table-light">Location floor	</td>
                <td class="table-light"><%= @room.floor.num_of_floor %> floors/ <%= @room.building.floor_number %> floors above ground 1 floor below ground</td>
            </tr>
            <tr>
                <td  colspan="2" class="table-light">Date of construction</td>
                <td colspan="2" class="table-light"><%=@room.building.build_year %></td>
            </tr>
        </tbody>
    </table>
    <p class="lead">
        <%= button_to  buildings_path, class: "btn btn-outline-dark col-1", method: :get, style: "left: 10px;" do%>
            Back
        <% end %>
    </p>
</div>


<script >
 $(document).ready(function(){
     //code of lightslider 
     $('#lightSlider').lightSlider({
         gallery: true,
         item: 1,
         loop:true,
         slideMargin: 0,
         thumbItem: 9
     });
 });

</script>
<style>
 .lSSlideWrapper {

     height: 300px !important;
 }
</style>
