<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
        <% building.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :build_year %>
    <%= form.number_field :build_year %>
  </div>

  <div class="field">
    <%= form.label :equiments %>
    <%= form.text_area :equiments %>
  </div>

  <div class="field">
    <%= form.label :floor_number %>
    <%= form.number_field :floor_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
